html {
    background-color: white;
}

h1 {





}

body {

	color: deepskyblue;
	text-align: center;
}


input[type="text"]
{
    background: transparent;
    border: none;
    padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}

input[type="submit"]
{
    background: transparent;
    border: none;
    padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;

}

